@charset "utf-8";

/* header */
header {
    padding: 9rem 6.771vw;
}

.main_title {
    margin: 3rem 0;
}

.main_title > span,
.main_title h2 {
    position: relative;
    left: 25%;
}

.main_title p {
    left: 41.667vw;
}

/* grid */
.grid_container .grid_item img {
    transition: 1s;
}

.grid_container .grid_item:hover img {
    transform: scale(1.2);
}